body {
    background: repeating-linear-gradient( 45deg, black, black 8px, #141721 8px, #141721 18px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    user-select: none;
    text-align: center;
}

@font-face {
    font-family: Gilroy;
    src: url(font/Gilroy-Light.otf);
}

.hex {
    cursor: pointer;
    fill-opacity: 1;
    stroke: white;
    stroke-width: 5px;
    transform: scale(0.2);
    transform-origin: 50% 50%;
}



#color-fill .hex {
    fill: black;
}

#prns {
    text-align: center;
}

#infocard {
    background-color: #020205;
    width: 30vw;
    height: 60vh;
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
}

#title {
    font-family: Gilroy;
    color: white;
    font-size: 50px;
    margin-bottom: 5%;
}

#maintext {
    color: white;
    font-family: Gilroy;
    font-size: medium;
    max-width: 90%;
    min-width: 10%;
}


@media only screen and (max-width:900px) {
#infocard {
    background-color: #020205;
    width: 90vw;
    height: 80vh;
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
}
#title {
    font-family: Gilroy;
    color: white;
    font-size: 8vw;
    margin-bottom: 5%;
}

#maintext {
    color: white;
    font-family: Gilroy;
    font-size: 3.5vw;
    max-width: 90%;
    min-width: 10%;
}
}


@media only screen and (min-width:1023px) and (max-width: 1439px)
{
#infocard {
    background-color: #020205;
    width: 30vw;
    height: 70vh;
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
}

#title {
    font-family: Gilroy;
    color: white;
    font-size: 2.5vw;
    margin-bottom: 5%;
}

#maintext {
    color: white;
    font-family: Gilroy;
    font-size: 1.5vh;
    max-width: 90%;
    min-width: 10%;
}
}

