body {
				background-color: #1a1a1a;
				min-height: 100vh;
				height: 100%;
				border-left-color: #c4004c;
				color: white;
				margin-left: 0px;
				border-left-style: solid;
				border-left-width: 20px;
				border-left-height: 110px;
				border-top-color: #c4004c;
				margin-left: 0px;
				border-top-style: solid;
				border-top-width: 20px;
				border-top-height: 110px;
				border-right-color: #c4004c;
				margin-right: 0px;				
				border-right-style: solid;
				border-right-width: 20px;
				border-right-height: 110px;
				border-bottom-color: #c4004c;
				margin-bottom: 0px;				
				border-bottom-style: solid;
				border-bottom-width: 20px;
				border-bottom-height: 110px;
}
body p {
				text-align: center;
				color: white;
				font-size: 37px;
}
#cbox {
  background-color: black;
  padding: 7px ;
}
#bbox {
				background-color: black;
				padding: 20px;
}
#midbox {
    background-color: #c4004c;
				padding: 10px;
}
#cbbox {
		position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
#cbox {
				background-color: black;
				color: white;
				text-align: center;
}
#bbbox {
		position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.projects:active {
				color: white;
				text-decoration: none;
}
#topend {
			 position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: -30px;        
    text-align: left;
    padding: 20px;
}
img {
				border-radius: 50%;
				width: 108px;
				height: 108px;
}
body midtext {
				color: red;
}
#invite {
				color: white;
				text-align: center;
    font-size: 20px;
				background-color: #c4004c;
				margin-right: 150px;
				margin-left: 150px;
				border-radius: 2%;
}
.invite:hover {
				text-decoration: none;
}
.invite:active {
				text-decoration: none;
}
#menu {
				background-color: black;
				color: white;
				position: fixed;
				text-align: right;
				margin-left: 300px;
				top: 0px;
				padding: 10px 20px;
				font-size: 20px;
				right: 0px;
				width: -10px;
				height: -50%;
}
#menuButton {
    color: white;
    position: fixed;
    width: 50px;
}
#buttonsMenu {
				background-color: #1a1a1a;
				color: white;
				position: fixed;
				visibility: hidden;
			 top: 47px;
			 right: 0px;
		  left: 0px;
		  margin-top: 6px;
		  
}
#HomeB {
			background-color: #1a1a1a;
			color: white;
			text-align: center;
			bottom: 10px;
			padding: 13px 15px;
	
}
#ChangelogB {
			background-color: #c4004c;
			color: white;
			text-align: center;
			padding: 13px 15px;
	
}
#BlogB {
			background-color: #1a1a1a;
			color: white;
			text-align: center;
			padding: 13px 15px;
	
}
a:link {
				background-color: #c4004c;
				text-decoration: none;
}
a:visited {
				background-color: #c4004c;
				text-decoration: none;
}

a:hover {
				background-color: #c4004c;
				text-decoration: none;
}
a:active {
			background-color: #c4004c;
				text-decoration: none;	
}
#CommandsB {
			background-color: #1a1a1a;
			color: white;
			text-align: center;
			padding: 13px 15px;
	
}
#StatusB {
			background-color: #1a1a1a;
			color: white;
			text-align: center;
			padding: 13px 15px;
	
}
#burger {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}
a.maincon {
				background-color: transparent;
				text-decoration: none;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  margin-left: 30%;
  display: inline-block;
  background-color: #c1c1c1;
  left: 30%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c1c1c1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  background-color: #c1c1c1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}
{
				color: white;
}
.updates {
				color: white;
}
.5.1u {
				text-align: center;
}
.updates {
				color: red;
}

